{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Service</title>
    <link
      rel="stylesheet"
      href="{% static '/css/rules/termsconditions.css' %}"
    />
  </head>
  <body>
    <div class="back-button">
      <a href="{% url 'landing' %}" class="previous">&laquo; Previous</a>
    </div>
    <section id="terms-of-service">
      <div class="card">
        <h1 class="primary-heading">Rules and Regulations, Terms of Service</h1>
        <p class="paragraph">
          <b>Event Description</b> <br />
          The Christmas Challenge is an online hackathon organized by Parkyeri
          AS of Istanbul, Turkey. This event is designed to engage and empower
          developers worldwide by offering them an opportunity to contribute to
          open-source projects. Participant(s) may work individually or as a
          group to resolve issues and enhance the open-source community.
          Participant(s) may choose to utilize our platform or their own
          platform and/or preferred tools. This hackathon is a chance to make a
          meaningful impact.<br />
          <br />

          <b>Event Dates and Format</b> <br />

          - The Christmas Challenge will be conducted entirely online, allowing
          participant(s) to join from via the Internet site
          https://challenge.parkyericom/ . <br />
          - The challenge starts December 1st and ends on December 25th, 2023.
          Participant(s) may participate at any time during this period. <br />
          <br />

          <b>Eligibility</b> <br />
          - The Christmas Challenge is open to all developers, regardless of
          their background or experience.
          <br />
          - There are no age restrictions, and anyone with an interest in coding
          and open-source projects can participate. However, there are
          restrictions on winning a prize. <br />
          - We reserve the right to refuse anyone as a participant or winner,
          with or without a reason.<br />
          <br />

          <b>Registration</b><br />

          - Participation in the Christmas Challenge is completely free. Simply
          register on our platform to get started on the hackathon journey.<br />
          <br />

          <b>Team Formation</b> <br />

          - Participant(s) are invited to exhibit their skills and creativity in
          a solo capacity. While the creation of groups is permitted, it is
          imperative to note that the submission of work shall be consolidated
          into a singular entry. This provision is in place to accommodate the
          potential involvement of software houses or companies seeking to
          contribute collectively. The consolidation of submissions ensures a
          streamlined and fair assessment process, facilitating the effective
          evaluation of each participant or group's contribution to the
          competition. <br />
          - Many people can work as a group; however, only one invidiual
          representing the team can submit their work, and only one physical
          person can be selected as a winner.
          <br /><br />

          <b>Development Containers</b> <br />

          - Parkyeri may provide compute resources that participant(s) may use
          to work on their submission to win a prize, but is under no obligation
          to do so.<br />

          - To be eligible to use these resources, participant(s) must verify
          their e-mail addresses an phone numbers on the hackathon web page at
          https://challenge.parkyeri.com/ <br />

          - To be eligible to use these resources, participant(s) must be
          eligible to win a prize.<br />

          - To be eligible to use these resources, participant(s) must have
          verified their e-mail addresses and phone numbers.<br /><br />

          <b>Prizes and Awards</b> <br />

          - Not all participant(s) are eligible for a prize: Only physical
          persons who have the legal capacity to enter legal contracts on their
          own (typically older than 18 years and of sufficient mental strength),
          residing in and having a nationality from a country legally recognized
          by and with no sanctions applied by the Republic of Turkiye. Current
          employees and interns of Parkyeri are not eligible for prize(s).
          <br />

          - To be eligible for a prize, participant(s) must have submitted their
          application for a prize via the hackathon web site before the end of
          the Hackathon, December 25th, 2023, AoE timezone.
          <br />

          - The winner(s) of the Christmas Challenge will be rewarded with
          computing resources, listed below, which can be used during the
          calendar year of 2024.<br />

          - The cash value of the prize(s) is 0 (zero) TRY, Turkish Liras.
          Prizes cannot be converted to cash. The dates of the services provided
          as a prize can not be changed.<br />

          <br />
          - The first prize will be awarded to only one winner. The prize is a
          cloud virtual server with 16 vcpu, 64GB RAM, 500GB hard disk, hosted
          at a datacenter facility chosen by Parkyeri.
          <br />
          - The second prize will be awared up to 4 winners. The prize is a
          cloud virtual development environment with 4 vcpu, 16GB RAM, 100GB
          hard disk, hosted at a datacenter facility chosen by Parkyeri.
          <br />
          - The third prize will be awared up to 16 winners. The prize is a
          cloud virtual development environment with 2 vcpu, 8GB RAM, 50GB hard
          disk, hosted at a datacenter facility chosen by Parkyeri.
          <br />
          - A certificate of achievement will be presented to the winner(s),
          upon demand.
          <br />
          - Only winners selected by the Jury may receive a prize.
          <br />
          - If a participant is selected to be a winner, but not eligible for a
          prize, the prize will not be awarded to another recipient.
          <br />
          <br />
          <b>Judging Criteria</b> <br />

          - A panel of judges will assess the work submitted, at the end of the
          hackathon, and choose participant(s) as Winner(s). Parkyeri is free to
          chosse any person to be a judge.<br />
          - The winner(s) will be selected based on the significance and
          potential impact of their work in the assessment of the judges.<br />
          - The work must have been carried out, finalized and submitted during
          the month of December, 2024. before the deadline. The work must be
          acccessible publically by anyone on the Internet. <br />
          - The work must be licensed using any one of the OSI approved licensed
          listed at https://opensource.org/licenses/ , specifically it must be
          one or more of the license(s) with thw following SPDX ID:<br />
          - BSD-1-Clause, AFL-3.0, APL-1.0, Apache-2.0, Apache-1.1, APSL-2.0,
          Artistic-1.0-Perl, Artistic-1.0, Artistic-2.0, AAL, BSL-1.0,
          BSD-2-Clause-Patent, CECILL-2.1, CERN-OHL-P-2.0, CERN-OHL-S-2.0,
          CERN-OHL-W-2.0, CDDL-1.0, CPAL-1.0, CPL-1.0, CATOSL-1.1, CAL-1.0,
          CUA-OPL-1.0, EPL-1.0, EPL-2.0, eCos-2.0, ECL-1.0, ECL-2.0, EFL-1.0,
          EFL-2.0, Entessa, EUDatagrid, EUPL-1.2, Fair, Frameworx-1.0,
          AGPL-3.0-only, GPL-2.0, GPL-3.0-only, LGPL-2.1, LGPL-3.0-only,
          LGPL-2.0-only, HPND, IPL-1.0, ICU, Intel, IPA, ISC, Jam, LPPL-1.3c,
          BSD-3-Clause-LBNL, LiLiQ-P-1.1, LiLiQ-Rplus-1.1, LiLiQ-R-1.1,
          LPL-1.02, LPL-1.0, MS-PL, MS-RL, MirOS, MIT-0, MPL-1.1, MPL-2.0,
          MPL-1.0, MulanPSL-2.0, Multics, NASA-1.3, Naumen, NOKIA, NPOSL-3.0,
          NTP, OGTSL, OLFL-1.3, OSL-2.1, OSL-1.0, OLDAP-2.8, OSET-PL-2.1,
          PHP-3.0, PHP-3.01, PSF-2.0, RPSL-1.0, RPL-1.5, RPL-1.1, OFL-1.1,
          SimPL-2.0, SISSL, SPL-1.0, BSD-2-Clause, BSD-3-Clause, CNRI-Python,
          EUPL-1.1, MIT, NGPL, OSL-3.0, PostgreSQL, QPL-1.0, RSCPL, Sleepycat,
          Watcom-1.0, UPL-1.0, NCSA, Unlicense, VSL-0.1, W3C-20150513,
          wxWindows, Xnet, Zlib, Unicode-DFS-2015, UCL-1.0, 0BSD, ZPL - 2.0, ZPL
          - 2.1 <br />
          - The judges are not required to disclose how and why they chose any
          specific winner.<br />

          - The decisions of the jury are final and binding.<br />
          <br />
          <b>Intellectual Property</b><br />

          - Participant(s) are expected to adhere to the licensing and
          intellectual property rights of the open-source projects they engage
          with, ensuring the legality and ethicality of their contributions.<br />
          <br />

          <b>Code of Conduct</b> <br />

          - While participant(s) are not required to interact with each other,
          they are encouraged to engage with the organizers using the provided
          email address and social media links for inquiries, guidance, or
          assistance.<br />
          - We uphold high ethical standards and expect all participant(s) to
          conduct themselves professionally and ethically throughout the
          event.<br />
          - Any malicious activity or unethical behavior, including code
          plagiarism, harassment, or other inappropriate conduct, is strictly
          prohibited and may result in disqualification. <br />
          - Any activity against the policies of service providers is prohibited
          (specifically including but not limited to high cpu activities,
          mining, internet scraping, crypto currencies, spamming, peer to peer
          networking, video hosting, image hosting, file distribution) and is
          cause for immediate disqualification and removal from the
          hackathon.<br />
          <br />
          - The participant(s) are expected to abide by the code of conduct
          document, detailed in:
          <a
            href="https://challenge.parkyeri.com/static/pdf/code_of_conduct.pdf"
          >
            https://challenge.parkyeri.com/static/pdf/code_of_conduct.pdf</a
          ><br />
          <br />
          <b>Communication</b> <br />

          - For any questions, concerns, or dispute resolution related to the
          platform or hackathon, participant(s) are encouraged to reach out to
          the organizers via challenge@parkyeri.com. We are here to support
          participant(s) and address any issues they encounter promptly. <br />
          <br />

          <b>Additional Rules</b> <br />

          - Participant(s) are responsible for ensuring that all code,
          documentation, and contributions align with the guidelines, standards,
          and requirements of the open-source projects they choose to work
          on.<br />
          - The primary aim is to benefit the open-source community by enhancing
          the projects and solutions participant(s) engage with. <br />
          - Participant(s) agree to abide by all rules, policies and regulations
          of any entity involved in accessing hackathon resources, such
          hackathon website, development containers, open source project
          repositories and infrastructure related to any of these resources.
          These include, but are not limited, internet service providers of
          participant(s) and/or Parkyeri, its partners, its customers, its
          suppliers, intermediate internet access providers and service
          providers, such as Twilio, Amazon, Microsoft, Hetzner, Google and
          similar other entities that may provide similar services, their
          affiliates no matter which country they are registered. It is the duty
          of the participant to identify such entities.<br />

          <br />

          <b>Disclaimers</b> <br />

          - The organizers and Parkyeri are not liable for any technical issues,
          data loss, or any other problems that may occur during the
          hackathon.<br />
          - Participant(s) are responsible for ensuring the security and
          integrity of their own work. <br />
          <br />

          <b>Privacy and Data</b> <br />

          - Participant(s) are responsible for handling any personal data or
          sensitive information in compliance with applicable data protection
          and privacy laws. Ensure that data privacy practices and laws are
          respected and seek necessary permissions when dealing with user data.
          <br />
          <br />
          <b>Audit</b><br />
          - We may audit, with or without their knowledge, how participant(s)
          use our product and services.<br />
          <br />
          <b>Data Sharing, Storage, Retention</b><br />

          - We may access, modify, store, delete, remove and share with anyone
          of our desire, any and all data participant(s) have provided to us via
          any means (through our product, e-mail, compute resources, or any
          website related to the hackathon).
          <br />
          - We may store participant(s) data or any portion of it for as long as
          we wish. We may never store participant(s) data, or at our choice,
          store participant(s) data forever, or any time duration between. We
          may delete participant(s) data or any portion whenever we wish. We may
          never delete participant(s) data, or at our choice, we may delete
          participant(s) data immediately, or at any time of our choice.<br />
          - We may share participant(s) data with anyone of our choosing
          whenever we wish. We may never share participant(s) data, or at our
          choice, we may share it with anyone that we choose, at any time.
          <br />
          <br />

          <b>No Services</b><br />
          - We have no obligation to provide participant(s) any services. If
          participant(s) have received any services, this does not create any
          obligation(s) or liabilities for Parkyeri in connection with these
          services are any further services. The services participant(s) may
          have received come with no guarantees. Participant(s) do not have any
          rights in addition to any person who has not received any services
          from us.<br />
          <br />
          <b>Termination</b><br />
          - We reserve the right to terminate this hackathon and any services
          participant(s) may have received at any time. We reserve the right to
          not choose any winners. We reserve the right to not provide any
          prizes.<br />
          <br />
          <b>Proprietary Rights</b><br />
          - Participant(s) acknowledge that the documentation and software
          participant(s) may encounter during this hackathon may contain
          confidential information and trade secrets. Participant(s) agree that
          participant(s) will not reverse-engineer, benchmark, copy, sell,
          sublicense, or transfer or make available the documentation or
          software, or any portion to any third party.<br />
          - Participant(s) acknowledge that information, data, documentation or
          software that participant(s) provide to us gives us or any third party
          of our choice, a non-exlusive, transferable, non-revocable license to
          use them in any manner of our choosing, including the ability
          reverse-engineer, benchmark, copy, sell, sublicense, or transfer or
          make available the documentation or software, or any portion to any
          third party of our choosing.<br />
          <br />
          <b>Limitation of Liability</b><br />
          - EXCEPT AS OTHERWISE REQUIRED BY LAW, OUR LIABILITY TO YOU OR ANY
          THIRD PARTY ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT OR THE
          USE OF SERVICES, THE DOCUMENTS, SOFTWARE, OR FOR ANY ERROR OR DEFECT
          IN THE SOFTWARE, OR FOR THE PROVISION OF TECHNICAL SUPPORT
          INSTALLATION, TRAINING OR OTHER SERVICES IN CONNECTION THERE WITH,
          HOWEVER CAUSED, AND ON ANY THEORY OF LIABILITY, INCLUDING CONTRACT,
          STRICT LIABILITY, NEGLIGENCE OR OTHER TORT, SHALL BE LIMITED TO DIRECT
          DAMAGES NOT TO EXCEED ANY FEES PAID TO US HEREUNDER. IN NO EVENT WILL
          WE OR OUR LICENSORS BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL,
          PUNITIVE OR CONSEQUENTIAL DAMAGES, INCLUDING DAMAGES FOR LOSS OF
          PROFITS, BUSINESS, REVENUE, DATA OR DATA USE, EVEN IF ADVISED OF THE
          POSSIBILITY OF SUCH DAMAGES. THESE LIMITATIONS WILL APPLY
          NOTWITHSTANDING THE FAILURE OF THE ESSENTIAL PURPOSE OF ANY REMEDY.
          <br />
          <br />
          <b>Legal</b><br />
          - By participating in the Christmas Challenge, participants(s) agree
          to abide by these rules and regulations. <br />
          - In the event of a dispute, the courts of Istanbul, Turkey will have
          jurisdiction.<br />
          <br />
          <b>Miscellaneous</b><br />

          - We reserve the right to make changes to the rules and regulations.
          These changes will be effective when they are published on the web. We
          are under no obligation to notify you of changes.<br />
        </p>
      </div>
    </section>
    <footer>
      <p class="footer-heading">
        © Copyright 2020-2021 Parkyeri. All rights reserved.
      </p>
    </footer>
  </body>
</html>
